:root {
    --bs-font-sans-serif: Roboto, sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-color: #858585;
    --bs-body-color-rgb: 133, 133, 133;
    --bs-body-bg: #181a1b;
    --bs-body-bg-rgb: 24, 26, 27;
    --bs-body-font-size: 1.2rem;
    --light-color: #D9D9D9;
    --border-color: #383D3F;
}

a {
    word-break: break-word;
    text-decoration: none;
    color: #2394fd !important;
}

h1, h2, h3, h4 {
    color: var(--light-color);
}

@media not print {
    .page {
        padding: 2rem;
    }

    .print {
        display: none;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    dt {
        font-weight: normal;
    }

    strong {
        font-weight: 500;
    }
}

@media print {
    .col-print-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-print-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .border-print-0 {
        border-width: 0 !important;
    }

    .pb-print-0 {
        padding-bottom: 0 !important;
    }

    .mb-print-1 {
        margin-bottom: 1rem !important;
    }
}

.badge {
    font-weight: normal;
    letter-spacing: 0.05rem;
    border: 1px solid var(--border-color);
    color: var(--light-color);
    background-color: #158e2b;
}

.fact-icon {
    width: 1em;
    color: var(--light-color);
    margin-right: 0.5rem;
}

.company-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 25px;
}

.collapse-button-icon {
    color: var(--light-color);
    transition: transform 0.3s ease;
    transform: 0deg;
}
